body {
  font-family: "Inter", sans-serif;
}

.container {
  border-radius: 10px;
  border: 1px solid rgba(199, 215, 182, 0.3);
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  max-width: 65%;
  margin-top: 40px;
}

h1 {
  text-align: center;
  font-size: 17px;
  margin-top: 15px;
}

.header {
  text-align: center;
  margin: 25px 0px -25px 0;
}

.search-form {
  display: block;
  margin: 0 auto;
}

.location {
  border: 1px solid black;
  border-radius: 50px;
  background: rgba(120, 123, 120, 0.2);
  padding: 1px;
  box-shadow: 0px 6px 20px 1px rgba(0, 0, 0, 0.2);
  transition: all 200ms ease-in-out;
}

.location:hover {
  background: #c4d0e3;
  color: white;
}

.fa-regular.fa-compass {
  text-align: center;
  margin: 8px;
}

.location-form {
  border: 1px solid black;
  border-radius: 10px;
  background: radial-gradient(
    circle at 0% 0.5%,
    rgb(241, 241, 242) 0.1%,
    rgb(224, 226, 228) 100.2%
  );
  padding: 5px 186px;
  box-shadow: 0px 6px 20px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.search {
  border: 1px solid rgba(120, 123, 120, 0.2);
  border-radius: 10px;
  background: rgba(120, 123, 120, 0.2);
  transition: all 200ms ease-in-out;
  box-shadow: 0px 6px 20px 1px rgba(0, 0, 0, 0.2);
  padding: 5px 10px;
}

.search:hover {
  color: white;
  background: #c4d0e3;
}

.current-weather {
  font-size: 25px;
  text-align: right;
  margin: -197px -70px;
  padding: 0px 103px;
}

.weather-icon {
  width: 30%;
  margin: -20px 37px;
}

.description {
  margin-top: 5px;
  margin-right: 80px;
  font-size: 22px;
  position: relative;
}

.high-low {
  margin: -20px 68px 0 0;
  font-size: 18px;
}

.low {
  margin-right: 9px;
}

.city {
  font-size: 40px;
  margin: 15px 40px 40px;
  padding-left: 34px;
}

.celsius {
  font-size: 20px;
  font-weight: 300;
  position: relative;
  top: -24px;
  left: -8px;
}

.temperature-value {
  font-size: 55px;
}

.unit-value {
  font-size: 20px;
  position: relative;
  top: -17px;
  margin: 0 -8px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 135px 0px 0px 45px;
  font-size: 18px;
}

i {
  padding: 2px;
  margin: 10px;
}

i.drop-icon {
  margin: 10px 11px;
}

i.temp-icon {
  margin: 10px 11px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  margin: 30px;
}

.forecast-container {
  font-size: 25px;
  margin: 40px 30px;
}

.forecast {
  margin: 40px 30px;
  background: radial-gradient(
    circle at 0% 0.5%,
    rgb(241, 241, 242) 0.1%,
    rgb(224, 226, 228) 100.2%
  );
  border: 1px solid rgba(205, 224, 187, 0.5);
  border-radius: 20px;
}

.forecast i {
  font-size: 38px;
}

.temperatures {
  font-size: 17px;
  text-align: center;
}

a {
  text-decoration: none;
}
.signature {
  text-align: center;
}

a.signature {
  font-weight: bold;
  color: black;
  opacity: 0.7;
}

.container-days {
  width: 85%;
  display: block;
  margin: 0 auto;
  margin: 35px 48px;
  padding: 10px 20px;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  border-radius: 7px;
  border: 1px solid linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

.row {
  flex-wrap: nowrap;
  margin-left: -19px;
  margin-right: -6px;
  margin: -6px -6px -6px -19px;
}

.col-2 {
  padding: 20px 10px;
  border: 1px solid #dce3ee;
  border-radius: 8px;
  margin: 0 1px;
}

.forecast-day {
  text-align: center;
}

.forecast-temperatures {
  text-align: center;
  font-size: 14px;
}

.forecast-min-temp {
  opacity: 0.7;
}

.high {
  margin-right: 5px;
}
